#Ignoring temp-files used by the tool
**/jellybench_data/
**/videos/*
**/ffmpeg/*
output.json

# Logfiles
jellybench.log
jellybench-ffmpeg.log

#Python Cache
*pyc

#Poetry builds
/dist/*

.idea/*

# macOS finder index files
.DS_Store

# Legacy files
# These files are no longer used by the tool, but may still be present in some repositories
**/ffmpeg_err_log.txt
